@import "tailwindcss";

@layer utilities{
    .bg-main_desktop {
        background-image: url('/assets/images/banners/iran-banner-1920.jpg');
    }
    .bg-main_mobile {
        background-image: url('/assets/images/banners/iran-banner-400.jpg');
    }
    .bg-main_tablet {
        background-image: url('/assets/images/banners/iran-banner-600.jpg');
    }

}
@layer components{
    .inner-container {
        @apply w-11/12 md:w-3/4 max-w-7xl mx-auto
    }
    h2 , .h2{
        @apply text-xl font-bold text-zinc-900 mb-3
    }
    h3 , .h3{
        @apply text-lg font-bold text-zinc-900 mb-2
    }
    .input-style{
        @apply block w-full rounded-lg border border-zinc-300 py-2 pe-10 ps-2 text-sm outline-2 placeholder:text-gray-500 focus:border-blue-800 outline-none
    }
    .label-style{
        @apply text-sm font-bold mb-1 block
    }
}