@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer utilities{
    .bg-main_desktop {
        background-image: url('/assets/images/banners/iran-banner-1920.jpg');
    }
    .bg-main_mobile {
        background-image: url('/assets/images/banners/iran-banner-400.jpg');
    }
    .bg-main_tablet {
        background-image: url('/assets/images/banners/iran-banner-600.jpg');
    }

}
@layer components{
    .inner-container {
        @apply w-11/12 md:w-3/4 max-w-7xl mx-auto
    }
    h2 , .h2{
        @apply text-xl font-bold text-zinc-900 mb-3 dark:text-zinc-300
    }
    h3 , .h3{
        @apply text-lg font-bold text-zinc-900 mb-2 dark:text-zinc-300
    }
    .input-style{
        @apply block w-full rounded-lg border border-zinc-300 dark:border-zinc-600 py-2 pe-10 ps-2 text-sm outline-2 placeholder:text-gray-600 dark:placeholder:text-gray-400 focus:border-blue-800 outline-none dark:text-zinc-50
    }
    .label-style{
        @apply text-sm font-bold mb-1 block
    }
    p , .p{
        @apply dark:text-zinc-300 text-justify leading-7 mb-3
    }
    .text{
        @apply dark:text-zinc-300 text-justify leading-7
    }
    .x-box{
        @apply bg-white dark:bg-zinc-800 border border-zinc-300 dark:border-zinc-600 p-6 rounded-xl shadow-lg dark:shadow-zinc-900;
    }
    .label-style{
        @apply text-sm font-semibold mb-1 block dark:text-zinc-300
    }
}